<section id="home" class="pt-5">
    <div class="container py-5">
        <div class="row text-center">
            <div *ngIf='!isLoading' class="col-md-12">
                <i class="far fa-snowflake fa-spin fa-7x text-white text-center"></i>
            </div>
        </div>
        <div *ngIf='isLoading' class="row">
            <div class="col-md-12 d-flex justify-content-end">
                <button class="btn btn-info" data-toggle="modal" data-target="#AddNote">
                     Add Note
                </button>
            </div>
            <div *ngFor='let notes of allNotes' class="col-md-4 my-4">

                <div class="note text-center">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <i class="fas fa-ellipsis-v float-right p-3" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                <div class="dropdown">
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" (click)='getID(notes._id);setValue()' href="#" data-toggle="modal" data-target="#EditNote"><span>Edit</span><i class="far fa-edit float-right text-info"></i></a>
                                        <a class="dropdown-item" (click)='getID(notes._id)' href="#" data-toggle="modal" data-target="#DeleteNote"><span>Delete</span> <i class="fas fa-trash float-right text-danger"></i></a>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="mt-4 h-100">
                        <h3>{{notes.title}}</h3>
                        <p>{{notes.desc}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================================= Add Note ========================================= -->

<!-- Modal -->
<div class="modal fade" id="AddNote" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form [formGroup]='AddNotes' (ngSubmit)='notesData()'>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Note</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <input formControlName='title' type="text" class="form-control" placeholder="title">
                            </div>
                        </div>
                        <div class="my-3">
                            <textarea formControlName='desc' cols="30" rows="10" class="form-control" placeholder="Add Description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add Note</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- ================================= /Add Note ========================================= -->
<!-- ================================= Edit Note ========================================= -->

<!-- Modal -->
<div class="modal fade" id="EditNote" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form [formGroup]='AddNotes' (ngSubmit)='editNotess()'>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Note</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <input formControlName='title' type="text" class="form-control" placeholder="title">
                            </div>
                        </div>
                        <div class="my-3">
                            <textarea formControlName='desc' cols="30" rows="10" class="form-control" placeholder="Add Description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">save Note</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- ================================= /Edit Note ========================================= -->
<!-- ================================= Delete Note ========================================= -->

<!-- Modal -->
<div class="modal fade" id="DeleteNote" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p>
                                do you really want to delete ? <br> proccess can't be undone
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)='deleteNote()' class="btn btn-danger">Delete Note</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- ================================= /Delete Note ========================================= -->